## Unreal
**/unreal/Saved
**/unreal/Intermediate
**/unreal/Binaries
**/unreal/Build
**/unreal/Content/MAPLV/FloorAndActMap.umap
**/unreal/Content/MAPLV/VolumeAndRefMap.umap
**/unreal/sinkhole.sdf

**/unreal/Plugins/VictoryPlugin/Intermediate
**/unreal/Plugins/VictoryPlugin/Binaries

**/android/sinkhole/*.iml
**/android/sinkhole/.gradle
**/android/sinkhole/local.properties
**/android/sinkhole/.idea/workspace.xml
**/android/sinkhole/.idea/libraries
**/android/sinkhole/.DS_Store
**/android/sinkhole/build
**/android/sinkhole/captures
